.image-user {
   width: 150px !important;
   font-size: 100px;
margin-left: 220px;
color:dodgerblue;   

}
.titi {
    color: dodgerblue;
  margin-bottom: 30px;
}
.input-icon-password {
    position: relative;
}
.inside-password {
    position: absolute;
    left: 40px; 
    top: 50%;
    transform: translateY(-50%); 
   color: black;
}

.form-login {
    max-width: 600px;
    display: flex;
    flex-direction: column;
    margin-left: 60px;
 
 margin-top: 5%;
  
}
.login-container {
    margin-top: 30px;
}
.login-position {
    width: 750px;
    justify-content: center;
}
.log-col {
  background-color:dodgerblue;   
  height: 500px;
  width: 350px;
  margin-left: 14% !important;
}
.imglog {
    object-fit: contain;
    width: 120px;
    margin-top: 200px;
    margin-left: 100px;
}
button.log-button {
    width: 40%;
    margin-left: 29%;
    margin-bottom: 15px;
}
.position-absolute {
margin-top: 60px;
margin-left: 20px;
color: #aaa;
}
.position-user {
    position: relative;
}
.icon-user {
position: absolute;
margin-top: 14px;
margin-left: 17px;
color: #aaa;
}

.check-login {
  margin-bottom: 15px;

}
.form-check-label {
    color: #aaa;
}
