.image-user {
    width: 120px;
   color:dodgerblue;  
   
   
   }
   
   
   .position-user {
       width: 90%;
   }
   .position-relative {
       width: 90%;
   }
   
   
   
   .log-col {
     background-color:dodgerblue;   
     font-size: 130px;
     
   
   
   
   
    
   
   }
   .imglog {
       object-fit: contain;
       width: 150px;
       margin-left: 14% !important;
      
        
     }
   
   
   .form-check {
   display: flex;
   justify-content: center;
   align-items: center;
   padding-left: 12%;
   
   
   
   }
   
   
   .form-check-label {
       color: #aaa;
     
   }
   .button-login {
       display: flex;
       align-items: center;
       justify-content: center;
       width: 100%;
   
   }
   .log-button {
       
       width: 70%;
   
   }
   @media screen and (max-width: 600px) {
       .log-button {
       
           width: 60%;
           background-color: "red";
       
       }
   
   }