.imgReg{
    width: 35%;
    height: 50%;
    margin-top: 85px;
margin-left: 110px;

object-fit:contain;  
}
.reg-col {
    
       background-color:dodgerblue;  
  
          }

.second {
    margin-top: 50px;
}


button.push {
    width: 50%;



}
.form-check {
    display: flex;
justify-content: center;
margin-top: 5%;
margin-right: 3% !important;

}

.form-check-label {
    margin-right: 65px;
}
.line {
    color: dodgerblue;
    text-align: center;
}

