.imgReg{
    width: 35%;
    height: 50%;
    margin-top: 85px;
margin-left: 110px;

object-fit:contain;  
}
.reg-col {
    
       background-color:dodgerblue;  
  
          }

      
.push {
    width: 50%;
}





.line {
    color: dodgerblue;
    text-align: center;
}

